<ion-header>
  <ion-toolbar>
    <ion-title>Office Materials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let material of loadedMaterials" #slidingItem>
            <ion-item [routerLink]="['/', 'materials', 'info', material.id]" detail>
              <ion-thumbnail slot="start">
                <ion-img [src]="material.image"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ material.name }}</h2>
                <p> {{ material.quantity }} </p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="medium" (click)="onEditMaterial(material.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
